.row.col-md-4.col-md-offset-4
	%h2 contact
.row.col-md-6.col-md-offset-3.hidden-xs
	= form_for :post, :html => {:name => 'contact'}, :validation => true do |f|
		.form-group
			= f.label :Yourname
			= f.text_field :name, :class => 'form-control', 'ng-model' => 'name', :required => ''
		%p{'ng-show'=> "contact.$valid"}
			= f.submit :class => 'btn btn-default', :value =>'Send contact'			
		%p{'ng-hide'=> "contact.$valid"}
			= f.submit :class => 'btn btn-default', :value =>'Send contact', disabled: true

			

			


