<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Sign in</h2>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

			<div class="form-group">		    
		    <%= f.label :email, :class => "col-md-2 control-label", :for => "inputEmail1" %>
		    <div class="col-md-10">
		    	<%= f.email_field :email, :autofocus => true, :class => "form-control", :id => "inputEmail1", :placeholder =>"Email"%>
		    </div>
		      <div class="clearfix"></div>
		  </div>

		  <div class="form-group">		
		  	<%= f.label :password, :class => "col-md-2 control-label", :for => "inputPassword" %>
		    <div class="col-md-10">
		    	<%= f.password_field :password, :autofocus => true, :class => "form-control", :id => "inputPassword", :placeholder =>"Password"%>
		    </div>
		      <div class="clearfix"></div>
		  </div>	
		  <div class="form-group">
		  	<div class="col-md-10 col-md-offset-2"> 
		  		<% if devise_mapping.rememberable? -%>
					    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
					  <% end -%>

					  <div><%= f.submit "Sign in", :class => "btn btn-primary" %></div>
					<% end %>
					<%= link_to "Connect With Facebook", "/auth/facebook" %> </br>
					<%= link_to "Connect With Twitter", "/auth/twitter" %></br>
					<%= link_to "Connect With Linkedin", "/auth/linkedin" %></br>

					<% link_to "Invite your Gmail contacts", GmailContacts::Google.authentication_url("http://las.me:3000/invites") %><br>

					
		  	</div>
		  <div>
	<div>
<div>
